* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 70%, #2a5a9e 71%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 70%,#2a5a9e 71%);
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 70%,#2a5a9e 71%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2a5a9e',GradientType=0 );
}

html, body {
  min-height: 100%;
  margin: 0;
}

svg {
  min-height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 130px;
  z-index: 1;
}

.content-wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 0 24px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.nav-bar h2 {
  margin: 0;
  white-space: nowrap;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav___link a {
  padding: 3px 12px;
  text-decoration: none;
  white-space: nowrap;
}

main {
  min-height: 300px;
  padding: 30px 0;
}

.jumbotron {
  padding: 40px 0;
  text-align: center;
}

footer {
  text-align: center;
  color: white;
  padding: 10px 0;
}




.center {
  text-align: center;
}
