.veteran___header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.veteran___image-and-such {
  margin-right: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.veteran___name {
  padding: 20px;
}

.veteran___image {
  max-height: 200px;
}

.veteran___image-and-such div a {
  color: white;
  padding: 20px;
}

.veteran___meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.veteran___biography {
  display: flex;
  flex-direction: column;
  flex: 1;
}
