<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/defaults.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="content-wrapper">
      <div class="nav-bar">
        <a href="/">
          <img src="/static/img/veterIN_LOGO.png">
        </a>
        <nav>
          <ul>
            <li class="nav___link"><a href="/">Home</a></li>
            <li class="nav___link"><a href="/hiring/">Hiring</a></li>
            {% if 'username' not in session %}
            <li class="nav___link"><a href="/hub/">Log In</a></li>
            {% else %}
            <li class="nav___link"><a href="/signout/">Sign Out</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <main>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
      </main>
      <footer class="footer">
        © 2018 Durian Inc.
      </footer>
    </div>
    <div class="background-flourish">
    </div>
  </body>
</html>
