<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/defaults.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="content-wrapper">
      <div class="nav-bar">
        <h2>Veteran Mingle</h2>
        <nav>
          <ul>
            <li class="nav___link"><a href="/">Home</a></li>
            <li class="nav___link"><a href="/hiring/">Hiring</a></li>
            <li class="nav___link"><a href="/login/">Log In</a></li>
          </ul>
        </nav>
      </div>
      <main>
        {% block body %}
        {% endblock %}
      </main>
      <footer class="footer">
        <p>© 2018 Durian Inc.</p>
      </footer>
    </div>
  </body>
</html>
