<!-- index.html-->

{% extends "base.html" %}
{% block title %}VeterIn{% endblock %}
{% block head %}
<link href="/static/css/index.css" rel="stylesheet">
<style>
html {
  background: none !important;
}
</style>
{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>VeterIn</h1>
  <p class="blurb">Connecting the world's veterans to make them more productive and successful.</p>
  <a href="/hub" class="linko">Join Today</a>
</div>
{% include 'map.html' %}
{% include 'social.html' %}
{% endblock %}
