{% extends 'base.html' %}
{% block head %}
<link href="/static/css/forms.css" rel="stylesheet">
{% endblock %}
{% block body %}
<form method="POST">
  <div>
    <label for="usernameinput" class="col-sm-2 col-form-label">Username</label>
    <input type="text" class="form-control" id="usernameinput" placeholder="Username" name="username">
  </div>
  <div>
    <label for="passwordinput" class="col-sm-2 col-form-label">Password</label>
    <input type="password" class="form-control" id="passwordinput" placeholder="Password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
{% endblock %}
