{% extends 'base.html' %}
{% block body %}
<form method="POST">
        <label for="nameinput">Name</label>
          <input type="text" class="form-control" id="nameinput" placeholder="Name" name="name">

        <label for="locaioninput">Location</label>
          <input type="text" class="form-control" id="locationinput" placeholder="123 Seame Street" name="location">

        <label for="url">URL</label>
          <input type="text" class="form-control" id="urlinput" placeholder="vetstoreusa.com" name="url">

        <label for="industry">Industry</label>
          <input type="text" class="form-control" id="industryinput" placeholder="Private Sector" name="industry">

        
        <div>
            <label for="profit">Profit</label>
          <input type="radio" class="form-control" id="profit" placeholder="Profit" name="Profit">
          <label for="nonprofit">Non Profit</label>
          <input type="radio" class="form-control" id="nonprofit" placeholder="Non Profit" name="profit">
        </div>

        <label for="bioinput">Bio</label>
          <input type="text" class="form-control" id="bioinput" placeholder="Bio" name="bio">

        <label for="contactinput">Email</label>
          <input type="text" class="form-control" id="contactinput" placeholder="Email" name="contact">

        <label for="imageinput">Profile Picture</label>
        <input type=file name="image">
          
      <button type="submit" class="btn btn-primary">Log in</button>
</form>
{% endblock %}
