{% extends 'base.html' %}
{% block head %}
<link href="/static/css/forms.css" rel="stylesheet">
{% endblock %}
{% block body %}
<form method=POST enctype=multipart/form-data>
  <div>
    <label for="nameinput">Name</label>
    <input type="text" class="form-control" id="nameinput" placeholder="John Doe" name="name">
  </div>
  <div>
    <label for="skillsinput">Skills</label>
    <input type="text" class="form-control" id="skillsinput" placeholder="Running, Hacking, Recursion" name="skills">
  </div>
  <div>
    <label for="yearsinput">Years Served</label>
    <input type="number" class="form-control" id="yearsinput" value="0" name="years_served">
  </div>
  <div>
    <label for="rankinput">Rank</label>
    <input type="text" class="form-control" id="rankinput" placeholder="Private" name="rank">
  </div>
  <div>
    <label for="branchinput">Branch</label>
    <input type="text" class="form-control" id="branchinput" placeholder="Army" name="branch">
  </div>
  <div>
    <label for="bioinput">Bio</label>
    <input type="text" class="form-control" id="bioinput" placeholder="Bio" name="bio">
  </div>
  <div>
    <label for="contactinput">Email</label>
    <input type="email" class="form-control" id="contactinput" placeholder="johnnydoey@gmail.com" name="contact">
  </div>
  <div>
    <label for="imageinput">Profile Picture</label>
    <input type=file class="form-control" id="imageinput" name="image">
  </div>
  <div>
    <label for="usernameinput">Username</label>
    <input type="text" class="form-control" id="usernameinput" placeholder="johnnydoey" name="username">
  </div>
  <div>
    <label for="passwordinput">Password</label>
    <input type="password" class="form-control" id="passwordinput" placeholder="starman" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
{% endblock %}
