{% block head %}
<link href="/static/css/social.css" rel="stylesheet">
{% endblock %}
<ul class="posts">
  {% for post in posts %}
  <li class="post">
    <div class="post___poster">
      <img class="post___org-image" src="/static/img/{{ post.org_image }}">
      <h2 class="post___org-name">{{ post.org_name }}</h2>
    </div>
    <div class="post___content">
      <div class="post___text">
        <p class="post___blurb">{{ post.text }}</p>
        {% if post.media != " " %}
        <div class="post___media">
          <img src="/static/img/{{ post.media }}">
        </div>
        {% endif %}
        <span class="post___date-time">{{ post.date_time }}</span>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
