<!-- index.html-->

{% extends "base.html" %}
{% block head %}
<link href="/static/css/veteran.css" rel="stylesheet">
{% endblock %}
{% block title %}{{ veteran.username }}{% endblock %}
{% block body %}
<div class="veteran___header">
  <img class="veteran___image" src="/static/img/{{ veteran.image }}">
  <div class="veteran___meta">
    <h1>{{ veteran.name }}</h1>
    <h5>{{ veteran.username }}</h5>
    <p>{{ veteran.contact }}</p>
  </div>
</div>
<p class="veteran___bio">{{ veteran.bio }}</p>
<h3 style="color: white">Info:</h3>
<ul class="veteran___tidbits">
  <li class="veteran___rank">Rank: {{ veteran.rank }}</p>
  <li class="veteran___branch">Branch: {{ veteran.branch }}</p>
  <li class="veteran___years">Years Served: {{ veteran.years_served }}</p>
  <li class="veteran___skills">Skills: {{ veteran.skills }}</p>
</div>
{% endblock %}
