<!-- index.html-->

{% extends "base.html" %}
{% block head %}
<link href="/static/css/veteran.css" rel="stylesheet">
{% endblock %}
{% block title %}{{ veteran.username }}{% endblock %}
{% block body %}
<div class="veteran___header">
  <div class="veteran___image-and-such">
    <div class="veteran___name">{{ veteran.name }}</div>
    <img class="veteran___image" src="/static/img/{{ veteran.image }}">
    <div>
      <a href="mailto:{{ veteran.contact }}">{{ veteran.contact }}</a>
    </div>
  </div>
  <div class="veteran___meta">
    <div class="veteran___military">
      {{ veteran.branch }} | {{ veteran.rank }} | {{ veteran.years_served }} Years
    </div>
    <div>
      <h3>Skills:</h3>
      <ul class="veteran___tidbits">
        {% set skills = veteran.skills.split(', ') %}
        {% for i in skills %}
        <li class="veteran___skills">{{ i }}</p>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="veteran___biography">
    <h3>Biography:</h3>
    <p class="veteran___bio">{{ veteran.bio }}</p>
  </div>
</div>
{% endblock %}
